<section class="mic-search">
    <div class="input-group search-bar">
        <input type="text" class="form-control" placeholder="Search by words" autofocus data-ng-model="home.words" search-words />
       
    </div>
</section>

 <select search-submitted ng-model="home.publish_at" 
	  ng-options="row.publish_at as ( row.publish_at | FromNow ) for row in home.articlesOnPage">
	  <option value="">Search By submitted</option>
 </select>
<table>
	<thead>
		<tr>
			<th>Unpulished Articles</th>
			<th>Author</th>
			<th>Words</th>
			<th>Submitted</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="data in home.articlesOnPage | filter: {'publish_at' : home.publish_at }: home.filter2 | filter:{'words':  home.words}">
			<td class="title">{{data.title}}</td>
			<td class="name">{{data.profile.first_name}} {{data.profile.last_name}}</td>
			<td class="words">{{data.words}}</td>
			<td class="time">{{data.publish_at | FromNow }}</td>
		</tr>
	</tbody>
</table>

<button data-ng-click="home.LoadMore();">Load More</button>

