<section class="mic-search">
    <div class="input-group search-bar">
        <input type="text" class="form-control" placeholder="Search by words" autofocus search-watch data-ng-model="search.words" />
       
    </div>
</section>

<section class="mic-search">
    <div class="input-group search-bar">
        <input type="text" class="form-control" placeholder="Search by submitted" autofocus data-ng-model="search.publish_at" />
        
    </div>
</section>
<table>
	<thead>
		<tr>
			<th>Unpulished Articles</th>
			<th>Author</th>
			<th>Words</th>
			<th>Submitted</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="data in home.articlesOnPage | filter:search:strict">
			<td class="title">{{data.title}}</td>
			<td class="name">{{data.profile.first_name}} {{data.profile.last_name}}</td>
			<td class="words">{{data.words}}</td>
			<td class="time">{{data.publish_at | FromNow }}</td>
		</tr>
	</tbody>
</table>

<button data-ng-click="home.LoadMore();">Load More</button>

